nav {
    width: 100%;
    overflow-x: auto;
    padding: 1rem 0;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

.nav-flex {
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    width: 150%;
    white-space: nowrap;
}

.nav-logo-icon {
    width: 35px;
    height: 26px;
    overflow: hidden;
}

.nav-left {
    order: 2;
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin-left: 2rem;
}

.nav-right {
    order: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    margin-left: 2rem;
}

.nav-show-large {
    display: none;
}

.nav-show-small {
    display: block;
}

@media only screen and (min-width:35.625em) {
    
    .nav-flex {
        width: 100%;
    }
    
    .nav-logo {
        order: 2;
    }

    .nav-left {
        order: 1;
        justify-content: space-between;
        flex-grow: 1;
    }

    .nav-right {
        order: 3;
        justify-content: space-between;
        flex-grow: 1;
    }
    
    .nav-show-large {
        display: block;
        margin: 1em 5% 0.25em;
        width: 150px;
        height: 56px;
        overflow: hidden;
    }
    
    .nav-show-small {
        display: none;
    }
}


@media only screen and (min-width:45.625em) {
    
    .nav-logo-large {
        width: 220px;
        height: 84px;
    }
    
    .nav-logo {
        margin: 1em 15% 0.25em;
    }

}








.pure-menu-horizontal.pure-menu-scrollable {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.custom-menu-top {
  position: relative;
  padding-top: .5em;
  padding-bottom: .5em;
}

.custom-menu-brand {
  display: block;
  text-align: center;
  position: relative;
    text-indent: 99999px;
    overflow: hidden;
    width: 280px;
    margin: 0 auto;
    height: 105px
}

.custom-menu-brand img {width: 280px;}

.custom-menu-toggle {
  width: 44px;
  height: 44px;
  display: block;
  position: absolute;
  top: 3px;
  right: 0;
  display: none;
}

.custom-menu-toggle .bar {
  background-color: white;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 22px;
  right: 12px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}

.custom-menu-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.custom-menu-screen {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  height: 3em;
  width: 70em;
  position: absolute;
  top: 0;
  z-index: -1;
}

.custom-menu-tucked .custom-menu-screen {
  -webkit-transform: translateY(-44px);
  -moz-transform: translateY(-44px);
  -ms-transform: translateY(-44px);
  transform: translateY(-44px);
}

@media (max-width: 62em) {

  .custom-menu {
      display: block;
  }

  .custom-menu-toggle {
      display: block;
      display: none\9;
  }

  .custom-menu-bottom {
      position: absolute;
      width: 100%;
      border-top: 1px solid #eee;
      background-color: #808080\9;
      z-index: 100;
  }

  .custom-menu-bottom .pure-menu-link {
      opacity: 1;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      transition: all 0.5s;
  }

  .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
      -webkit-transform: translateX(-140px);
      -moz-transform: translateX(-140px);
      -ms-transform: translateX(-140px);
      transform: translateX(-140px);
      opacity: 0;
      opacity: 1\9;
  }

  .pure-menu-horizontal.custom-menu-tucked {
      z-index: -1;
      top: 45px;
      position: absolute;
      overflow: hidden;
  }
}

